/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #ee98c2, #b183e2);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "poppins";
  font-size: 3rem;
  font-weight: 700;
  color: #8b5cf6;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #a855f7;
}

i {
  font-size: 40px;
  color: black;
  margin-bottom: 10px;
}

:root {
  --rosa: #f9c5d5;
  --rosa-claro: #fde7ef;
  --roxo: #b57edc;
  --roxo-claro: #e9d5ff;
  --texto: #1702fd;
}

.botao {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #f665f1;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}

.botao i {
  font-size: 16px;
}
